
html, body {
  margin: 0px;
  padding: 0px;
}
.bottom-bar {
  position: absolute;
  bottom: 0px;
  margin: 0;
  width: 100%;
  background-color: rgb(238, 238, 238);
  height: 40px;

}

.top-bar {
  position: absolute;
  top: 0;
  right: 0;

}

.content {
  margin: auto;
  width: 50%;

  position: relative;
  top: 200px;

}

.logo {
  margin: auto;
  width: 50%;

}
.search-bar {
  padding-top: 20px;
  padding-bottom: 20px;

}
.search-text {
  width: 100%;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;



}

.search-buttons {
  margin: auto;
  width: 60%;
}

.under-button {
  background-color: rgb(242, 242, 242);
  color: rgb(117, 117, 117);
  padding: 15px;
  font-size: .8em;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: none !important;
  border: 1px solid white !important;

}
.search-form {

}

.profile {
  display: inline-block;
  height: 30px;
  width: 30px;
  overflow: hidden;
  position: relative;
  right: 10px;
  border-radius: 15px;
  margin-left: 10px;
  top: 10px
}
.profile img {
  margin-top: -100px;
  margin-left: -200px;
}

a {
  color: rgb(64,64,64);
  padding: 5px;
  text-decoration: none;
  font-family:sans-serif;
  font-size: .8em;

}
a:hover {
  text-decoration: underline;
}
.top-bar img {
  padding: 10px;
}
.top-bar div {
  display: inline-block;
}
.options, .alerts {
  position: relative;
  top: 7px;
}

.bottom-right {
  position: absolute;
  right: 10px;
  bottom: 10px;

}
.bottom-left {
  position: absolute;
  left:0px;
  bottom: 10px;

}
.bottom-bar a {
  padding: 10px;
}

input[type="text"] {
  font-size: 20px;
}

.under-button:hover {
  border: 1px solid grey !important;
  box-shadow: 0px 0px  1px black !important;

  color: rgb(70, 70, 70) !important;
}
